@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-primary font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-medium;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400;
}

.font-serif-display {
  font-family: 'Playfair Display', serif;
}
